* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form > input {
    display: block;
    padding: .5rem;
}

button {
    padding: .5rem;
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

.container {
    /* height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; */
    margin-top: 1rem;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

#resultado {
    margin-top: 2rem;
}

