* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form > input {
    display: block;
    padding: .5rem;
}

form {
    background: #ddd;
    padding-inline-start: 20px;
    display: block;
    margin: 20 auto;
    width: 50%;
}

input, button {
    display: block;
    margin-bottom: 20px;
    font-size: 1.6rem;
}

input {
    width: 80%;
    padding: 1rem 2rem;
}

button {
    border: 0 none;
    border-radius: 2rem;
    color: #fff;
    background-color: #2121be;
    width: 10rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

button:hover {
    background-color: #4545c2;
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

.container {
    margin-top: 1rem;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

#resultado {
    margin-top: 2rem;
}


